:root {
    padding: 0px;
    margin: 0px;
    border: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    --primary-color: #144083;
    --secondary-color: #388f3d;
    --ascent-color: #A80000;
    --border-color-white: white;
    --border-color-black: black;

    font-size: 1.0rem;
    cursor: default;
    scrollbar-width: auto;
    scrollbar-color: #A80000 white;
}

*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #A80000;
    border-radius: 20px;
    border: 3px solid white;
  }

body {
   
    background-color: whitesmoke;
    min-height: 90vh;
    
}

main {
    min-height: 90vh;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--border-color-white);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0px;
    -webkit-box-shadow: 5px 5px 30px gray;
    box-shadow: 5px 5px 30px gray;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}

.header>span {
    color: var(--primary-color);
    font-size: 2.0rem;
    background-color: var(--border-color-white);
    padding: 5px;
    margin-left: 10px;
    border: 1px solid var(--border-color-white);
    border-radius: 5px;

}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--border-color-white);
}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    gap: 2px;

}

ul>li {
    list-style: none;
    background-color: var(--border-color-white);
    padding: 5px 5px;
    font-size: 1.05rem;
     /*var(--primary-color); */
    border-radius: 5px;
    /* outline-style: solid;
    outline-width: 1px;
    outline-color: black; */
    
}

ul>li>a {
    text-decoration: none;
    color:var(--border-color-black);/*white; */
    font-size: 1.05rem;
}

.active {
    list-style: none;
    background: var(--primary-color);
    color: var(--border-color-white);
    border-radius: 5px;
    outline-style: solid;
    outline-width: 1px;
}

.active a {
    color: var(--border-color-white);

}

ul>li:hover {
    list-style: none;
    background-color: white;
    color: var(--primary-color);
    border-radius: 5px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}


ul>li:hover>a {
    color: var(--primary-color);
}


ul>li>a:hover {
    text-decoration: none;
    color: var(--primary-color);
    background-color: white;
}

ul>:last-child {
    margin-right: 10px;

}

#action-header{
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    left: 0px;
    padding: 5px;
    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

img {
    margin: 0px 10px;
    border-radius: 10%;
    width: 48px;
    height: 48px;
}

p {
    margin: 0px 0px 0px 10px;
    font-size: 1.2rem;
}

button {
    margin-right: 5px;
    padding: 10px 5px;
    background-color: var(--ascent-color);
    color: var(--border-color-white);
    border: 1px solid var(--border-color-black);
    border-radius: 5px;
    font-weight: bold;

}

input[type=text] {
    margin-right: 10px;
    padding: 10px 5px;
    background-color: white;
    color: black;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-weight: bold;
}

.main-content-wrapper {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 65%;
}

/* .twyt-list-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
} */

.twyt-list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--border-color-white);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.tywt-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 0px;
    padding-top: 10px;
    border: 2px solid var(--primary-color);
    -webkit-box-shadow: 5px 5px 30px gray;
    box-shadow: 5px 5px 30px gray;
    border-radius: 5px;
    width: 100%;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.tywt-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0px 5px;
    word-wrap: break-word;
}

.tywyt-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    padding: 10px 0px;
    border-top: 2px solid var(--primary-color);
    background-color: var(--border-color-white);
    color: black;
    margin-top: 10px;
}

.tywyt-user>p {
    padding: 10px 5px;
}

.tywyt-user-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.tywyt-user-actions>button:hover {
    background-color: white;
    color: black;
}

button:hover {
    background-color: white;
    color: black;
}

.tywyt-user-actions>button:disabled {
    background-color: grey;
    color: white;
}

.tywyt-user * a {
    background-color: var(--primary-color);
    color: var(--border-color-white);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

.twyt-url {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    overflow: hidden;
}

.twyt-url>span {
    padding: 0px 10px
}

footer {
    width: 65%;
    margin: auto;
    background-color: var(--border-color-white);
    border: 2px solid var(--primary-color);
    border-radius: 5px
   
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--border-color-white);
    color: var(--border-color-black);
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.hide {
    display: none;
    -webkit-transition: display 5s;
    -o-transition: display 5s;
    transition: display 5s;
}


.searchProgress {
    display: block;
    width: 24px;
    height: 24px;
    border-top: 2px solid var(--primary-color);
    border-color: var(--primary-color);
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50%;
    -webkit-animation: 1.0s linear infinite spinner;
    animation: 1.0s linear infinite spinner;

}

.work-in-progress{
    cursor: wait;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width:950px) {
    .header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: auto;
        height: auto;
        position: -webkit-sticky;
        position: sticky;
        background-color: white;
        /* background-color: var(--border-color); */

    }

    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    nav>ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #action-header{
        position: -webkit-sticky;
        position: sticky;
        top: 340px;
    }
    /* .header:hover nav{
        display: block;
    } */

    .main-content-wrapper {
        width: 100%;

    }

    .twyt-list-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;

        -webkit-box-direction: normal;

        -ms-flex-direction: column;

        flex-direction: column;

    }

    .tywt-wrapper {
        width: 100%;

    }


    .tywt-content p {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .tywyt-user {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .tywyt-user p {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .tywyt-user * a {
        margin: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .tywyt-user-actions {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .tywyt-user-actions>button {
        width: 50%;

    }

    footer {
        width: 100%;
        margin: auto;
    }
}