:root{
    padding: 0px;
    margin: 0px;
    border: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    --primary-color : green;
    --secondary-color : blue;
}
body {
    font-size: 1.0rem;
    background-color: whitesmoke;
    min-height: 90vh;
}

main{
    min-height: 90vh;
}

.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--primary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0px;
    -webkit-box-shadow: 5px 5px 30px gray;
            box-shadow: 5px 5px 30px gray;
    border-radius: 5px
}

.header>span{
    color:var(--primary-color);
    font-size: 2.0rem;
    background-color: white;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;        

}

nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 2px;
}

ul>li{
    list-style: none;
    /* color: white; */
    padding:5px 5px;
    font-size: 1.05rem;
    
}

.active{
    list-style: none;
    background: white;
    color: var(--primary-color);
    border-radius: 5px;
    outline-style: solid;
    outline-width: 1px;
}

.active a{
    color: var(--primary-color);
    
}

ul>li:hover{
    list-style: none;
    background-color: white;
    color: var(--primary-color);
    border-radius: 5px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}


ul>li:hover > a{
    color:  var(--primary-color);
}

ul>li>a{
   text-decoration: none;
   color: white;    
}

ul>li>a:hover{
    text-decoration: none;
    color: var(--primary-color);
    background-color: white; 
 }

ul>:last-child{
    margin-right: 10px;
}

img {
    margin:0px 10px;
}
p {
    margin: 0px 0px 0px 10px;
}



.main-content-wrapper{
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 65%;
}
.tywt-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0px;
    padding-top: 10px;
    border:2px solid var(--primary-color);
    -webkit-box-shadow: 5px 5px 30px gray;
            box-shadow: 5px 5px 30px gray;
    border-radius: 5px;

}
.tywt-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0px 5px;
    word-wrap: break-word;
}
.tywyt-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 10px;
    padding: 10px 0px;
    border-top: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}

.tywyt-user > button{
    margin-right: 10px;
    padding: 10px 5px;
    background-color: white;
    /* color: white; */
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}

.tywyt-user > button:hover{
    background-color: white;
    color: var(--primary-color);
}

.twyt-url{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
}

.twyt-url > span{
    padding: 0px 10px   
}

footer{
    width: 65%;
    margin: auto;
    -webkit-box-shadow: 5px 5px 30px gray;
            box-shadow: 5px 5px 30px gray;
    border-radius: 5px
}
.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    height: 50px;
}

.hide{
    display: none;
    -webkit-transition: display 5s;
    -o-transition: display 5s;
    transition: display 5s;
}

@media screen and (max-width: 600px) {
    .header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: auto;
        height: auto;
        position: -webkit-sticky;
        position: sticky;
        background-color: white;
        background-color: var(--primary-color);

    }

    nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    nav > ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    /* .header:hover nav{
        display: block;
    } */

    .main-content-wrapper{
        width: 100%;
        
    }
    .tywt-content p{
        word-wrap: break-word;
    }
    .tywyt-user p{
        word-wrap: break-word;
    }

    footer{
        width: 100%;
        margin: auto;
    }
}